*{

    padding: 0px;
    
    margin: 0px;
    
    }
    
    
    
    
    body{
    
    background-image: url("Imgen\ Fondo2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
    }
    .fondosociales{
    
        background-image: url("Fondo\ Sociales.jpg");
        background-size: cover;
        background-repeat: repeat;
        
    
    
        }

        .fondoMatematicas{
    
            background-image: url("Fondo\ Matematicas.jpg");
            background-size: cover;
            background-repeat: no-repeat;
        }

    .FondoT{
    
        background-image: url("Fondo\ Tecnologia.jpg");
        
        background-repeat: repeat;
        
        }
        
        
    .Texto
    {
    position: relative;
    top: 80px;
    color: rgb(231, 89, 208);
    font-size: 40px;
    left: -382px;
    }


    .contenido{

        height: 280px;
        
        width: 100%;
        
        position: absolute;
        
        top: 410px;
        
         
        
        }
        
    
    
    .imagentecno{
    
     
    
    background-repeat: no-repeat;
    
    float: left;
    
    height: 350px;
    
    width: 350px;
    
    margin-left: 5px;
    
    margin-right: 5px;
  
    background-image: url("Operadores\ Elecricos.gif");
    
    

    
    }
   
        
        .textotecno
        {
 
        
        text-align: left;
        
        color: rgb(0, 0, 0);
        
        font-size: 25px;
        
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        
        
        }



        SOCIALES

      
    .FondoS{
    
        background-image: url("Fondo\ Sociales.jpg");
        
        background-repeat: repeat;
        
        }
        .contenido{

            height: 280px;
            
            width: 100%;
            
            position: absolute;
            
            top: 410px;
            
             
            
            }
            
             
            
            .imagensocia{
            
             
            
            background-repeat: no-repeat;
            
            float:left;
            
            height: 200px;
            
            width: 260px;
            
            margin-left: 5px;
            
            margin-right:5px;
            
            background-image: url("");
            
            }
            
            
            
            .textosocia{
            
            text-align: left;
            
            color: rgba(12, 12, 12, 0.863);
            
            font-size: 25px;

            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            
            
            
            }

            INGLES

            .FondoI{
    
                background-image: url("Fondo\ ingles.jpg");
                
                background-repeat: repeat;
                
                }
                .contenido{
        
                    height: 280px;
                    
                    width: 100%;
                    
                    position: absolute;
                    
                    top: 410px;
                    
                     
                    
                    }
                    
                     
                    
                    .imagening{
                    
                     
                    
                    background-repeat: no-repeat;
                    
                    float:left;
                    
                    height: 200px;
                    
                    width: 260px;
                    
                    margin-left: 5px;
                    
                    margin-right:5px;
                    
                    background-image: url("");
                    
                    }
                    
                    
                    
                    .textoing{
                    
                    text-align: left;
                    
                    color: rgb(25, 26, 26);
                    
                    font-size: 25px;
                    
                   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    
                    }

                    .titulo {
                        text-align: center;
                        font-size: 25px;
                        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
                        color: black;
                    
                    }

        

            .FondoMatematicas{
    
            background-image: url("Fondo\ Matematicas.jpg");
                        
            background-repeat: repeat;
                        
                }
            .contenido{
                
                height: 280px;
                            
            width: 100%;
                            
            position: absolute;
                            
            top: 410px;
                            
                             
                            
            }
                            
                             
                            
            .imagenmate{
                            
                             
                            
            background-repeat: no-repeat;
                            
            float:left;
                            
            height: 200px;
                            
            width: 260px;
                            
            margin-left: 5px;
                            
            margin-right:5px;
                            
            background-image: url("");
                            
             }
                            
                            
                            
            .textomate{
                            
            text-align: left;
                            
            color: rgb(25, 26, 26);
                            
            font-size: 30px;
                            
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                            
            }
            .titulo{
            text-align: center;
            font-size: 25px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
            color: black;
            }


            .FondoBiologia{
    
                background-image: url("Fondo\ Biologia.jpg");
                
                background-repeat: repeat;
                
                }
                .contenido{
        
                    height: 280px;
                    
                    width: 100%;
                    
                    position: absolute;
                    
                    top: 410px;
                    
                     
                    
                    }
                    
                     
                    
                    .imagenbio{
                    
                     
                    
                    background-repeat: no-repeat;
                    
                    float:left;
                    
                    height: 200px;
                    
                    width: 260px;
                    
                    margin-left: 5px;
                    
                    margin-right:5px;
                    
                    background-image: url("");
                    
                    }
                    
                    
                    
                    .textobio{
                    
                    text-align: left;
                    
                    color: rgb(25, 26, 26);
                    
                    font-size: 25px;
                    
                   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    
                    }

                    .titulo {
                        text-align: center;
                        font-size: 25px;
                        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
                        color: black;
                    
                    }




                    .FondoReligion{
    
                        background-image: url("Fondo\ Religion\ .jpg");
                        
                        background-repeat: repeat;
                        
                        }
                        .contenido{
                
                            height: 280px;
                            
                            width: 100%;
                            
                            position: absolute;
                            
                            top: 410px;
                            
                             
                            
                            }
                            
                             
                            
                            .imagenreli{
                            
                             
                            
                            background-repeat: no-repeat;
                            
                            float:left;
                            
                            height: 200px;
                            
                            width: 260px;
                            
                            margin-left: 5px;
                            
                            margin-right:5px;
                            
                            background-image: url("");
                            
                            }
                            
                            
                            
                            .textoreli{
                            
                            text-align: left;
                            
                            color: rgb(25, 26, 26);
                            
                            font-size: 25px;
                            
                           font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                            
                            }
        
                            .titulo {
                                text-align: center;
                                font-size: 25px;
                                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
                                color: black;
                            
                            }